/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

header {
  background-color: #28a745;
  color: white;
  text-align: center;
  padding: 15px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover, nav a.active {
  text-decoration: underline;
}

main {
  padding: 20px;
}

/* Medicines */
.medicine-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.medicine-item {
  background-color: white;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Hospitals */
.hospital-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.hospital {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}


.hospital:hover {
  background-color: #eafaea;
}
.book-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.book-btn:hover {
  background-color: #1e7e34;
  transform: scale(1.05);
}
form {
  margin-top: 10px;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: allowed; 
}

button:hover {
  background-color: #218838;
}

.cart-section {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-top: 30px;
}
.medicine-item a {
  display: inline-block;
  margin-top: 8px;
  background-color: #28a745;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.medicine-item a:hover {
  background-color: #1e7e34;
}

/* Footer */
footer {
  text-align: center;
  background-color: #222;
  color: white;
  padding: 10px;
  margin-top: 20px;
}
